<a href="https://colab.research.google.com/github/RodrigoGuedesDP/Programacion_101/blob/main/01_Introduccion_a_Python/02_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
my_list = ['logistic regresion', 'XGBoost', 'SVM', 'KNN', 2, None]
print(my_list)

['logistic regresion', 'XGBoost', 'SVM', 'KNN', 2]

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

manzana pera

In [ ]:
funel = ['a', 'b', 'c', 'SVM', ['Reg KNN', 'Class KNN'], 'Decision Tree', "Random Forest"]
funel[4]
funel[4][1]
funel[-3][1]
funel[-3][-1]

'Class KNN'

In [ ]:
funel[1] = 'Gradient Boosting'
print(funel)
funel[4][0]= ''
print(funel)
funel[-1]= None
funel

['a', 'Gradient Boosting', 'c', 'SVM', ['Reg KNN', 'Class KNN'], 'Decision Tree', 'Random Forest']
['a', 'Gradient Boosting', 'c', 'SVM', ['', 'Class KNN'], 'Decision Tree', 'Random Forest']

['a',
 'Gradient Boosting',
 'c',
 'SVM',
 ['', 'Class KNN'],
 'Decision Tree',
 None]

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
algoritmo = ['logistic regression', 'XGBoost', 'SVM', 'KNN']
algoritmo.append('Decision Tree')
algoritmo.append('Random Forest')
print(algoritmo)
algoritmo.append(['a', 'b'])
#en este caso he agregado una lista no 2 elementos.
#append modifica la lista, no da un retorno

['logistic regression', 'XGBoost', 'SVM', 'KNN', 'Decision Tree', 'Random Forest']

In [ ]:
#Se puede sumar listas. Funciona como el append donde se suma al final segun el orden que se pone.
algoritmo2 = ['logistic regression', 'XGBoost', 'SVM', 'KNN']
algoritmo2 + ['Decision Tree', 'Random Forest']
algoritmo2 += ['J', 'M']
print(algoritmo2)

['logistic regression', 'XGBoost', 'SVM', 'KNN', 'J', 'M']

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

In [ ]:
frutas = ["manzana", "banana", "naranja", "uva", "pera"]
# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)
algoritmo2.insert(2, "Greedy algorithm")
print(algoritmo2)

['manzana', 'banana', 'mango', 'naranja', 'uva', 'pera']
['logistic regression', 'XGBoost', 'Greedy algorithm', 'SVM', 'KNN', 'J', 'M']

In [ ]:
# Eliminar un elemento
frutas.remove("banana")
print(frutas)
#Solo elimina la primera coincidencia que encuentra, solo 1 elemento

['manzana', 'mango', 'uva', 'pera']

In [ ]:
# Ordenar una lista de menor a mayor.
frutas.sort()
print(frutas)

['mango', 'manzana', 'pera', 'uva']

In [ ]:
my_num = [3 , 5, 7, 2, 10, 64]
my_num.sort()
print(my_num)

[2, 3, 5, 7, 10, 64]

In [ ]:
my_num
#La sentencia no se queda in place.
#se puede crear otra variable y usar sorted. Sort modifica la lista pero sorted no.
nuevalista = sorted(my_num)
print(nuevalista)

[2, 3, 5, 7, 10, 64]

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)
# si pusiera reverse=False es lo mismo que no poner nada.
my_num.sort(reverse=True)
print(my_num)

['uva', 'pera', 'manzana', 'mango']
[64, 10, 7, 5, 3, 2]

In [ ]:
votes = []

In [ ]:
var = input('dime tu voto: ')
votes.append(var)
print(f'actual votes: {votes} ')

dime tu voto: KEIKO
actual votes: ['PPK', 'KEIKO']

### Ejemplo 1.3: Operaciones numéricas con listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

Mínimo: 0
Máximo: 9
Suma: 45
Mínimo: 1
Máximo: 10
Suma total: 55
Cantidad de elementos: 10
Promedio: 5.5

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
range(1, 11)
#para python, esto es lo mismo que elementos del 1 al 10. No considera el ultimo elemento. Se puede pensar como el ultimo elemento que quiero + 1
#range es un tipo de dato para python, no es una lista.
type(range(1, 11))

range

In [ ]:
list()
#esto puede convertir a una lista un tipo de dato como range

In [ ]:
my_list = list(range(1, 21))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

Números pares del 2 al 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
multiplos = list(range(0, 1701, 23))
numero = len(multiplos) - 1 #le quitamos el 0 que esta contando
print(f'El resultado es {numero}')

El resultado es 73

In [ ]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)
# el -1 hace que enves de aumentar disminuya

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

In [ ]:
milista = list(range(1, 101))
media = sum(milista)/ len(milista)
lista = list(range(1, 51))
lista_ordenada = sorted(lista, reverse = True)
# probar con el metodo de range
con_metodo_range = list(range(50, 0, -1))


print(milista)
print(media)
print(lista_ordenada)
print(con_metodo_range)
#son equivalentes

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
[x for x in range(1, 1001) if x%23 == 0]

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [ ]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

#Tambien funciona si nombre lo reemplazas con x.
#nombres_mayuscula = [x.capitalize() for x in nombres]

['Juan', 'Pedro', 'Ana', 'Maria']

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [ ]:
lista = [x**3 for x in range(1, 11)]

In [ ]:

numeros_impares = [x for x in range(1, 51) if x % 2 != 0]

lista_cubos_10_primeros = [x**3 for x in range(1, 11)]

algoritmo = ['logistic regression', 'XGBoost', 'SVM', 'KNN']

nueva_lista = [x.upper() for x in algoritmo if len(x) > 4]

print("Números impares entre 1 y 50:", numeros_impares)
print("Cubos de los primeros 10 números:", lista_cubos_10_primeros)
print("Palabras con más de 4 letras en mayúsculas:", nueva_lista )

Números impares entre 1 y 50: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Cubos de los primeros 10 números: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Palabras con más de 4 letras en mayúsculas: ['LOGISTIC REGRESSION', 'XGBOOST']

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
print(letras[-4], letras[-3])
#esta forma es muy manual, se puede hacer con slicing

e f

In [ ]:
letras[4:6]

['e', 'f']

In [ ]:
letras[-7:-5]

['b', 'c']

In [ ]:
letras[-7:3]
#es lo mismo que lo de arriba, se puede combinar positivo y negativo en el indexado.

['b', 'c']

In [ ]:
#en el caso que quiera que el slicing vaya desde cierto punto, hasta el final, se pone asi:
letras[4:]
letras[-5:]
#Ver que el resultado de un slicing siempre es una lista

['d', 'e', 'f', 'g', 'h']

In [19]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

['a', 'b', 'c']

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

['d', 'e', 'f', 'g', 'h']

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

['g', 'h']

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)
impares =numeros[::2]
print(impares)
prueba = numeros[0::3]
print(prueba)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

[1, 4, 7, 10]

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

In [ ]:
lista =list(range(1, 101))
primeros_10 = lista[:10]
posiciones_impares = lista[1::2]
lista_palabras = ['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve', 'diez']
tamano_lista = len(lista_palabras)
mitad = tamano_lista // 2
mitad = int(mitad)
primera_mitad = lista_palabras[:mitad]
segunda_mitad = lista_palabras[mitad:]
print(primera_mitad)
print(segunda_mitad)

['uno', 'dos', 'tres', 'cuatro', 'cinco']
['seis', 'siete', 'ocho', 'nueve', 'diez']

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
dimensiones[0] = 250  # Descomenta esta línea para ver el error

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

Nuevas dimensiones: (400, 100)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

In [ ]:
tupla = (200, 300)
#tupla[0] = 100 ESTO DA UN ERROR
tupla = (100, 300)
print(tupla)

(100, 300)

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

In [ ]:
lista_camisetas = [10, 15, 30, 35, 10, 44, 70]
lista_pantalones = [20, 15, 33, 19, 46, 49, 60]
lista_zapatos = [7, 10, 15, 20, 25, 30, 40]
ventas_camisetas = lista_camisetas[-3:]
ventas_pantalones = lista_pantalones[-3:]
ventas_zapatos = lista_zapatos[-3:]
#Creamos una listas que englobe las demas listas
lista_ventas_totales = [lista_camisetas, lista_pantalones, lista_zapatos]
#utilizaremos listas de comprension para guardar los resultados de la suma de las listas.
total_ventas = [sum(x) for x in lista_ventas_totales]
promedio_diario_ventas = [round(sum(x) / len(x), 2) for x in lista_ventas_totales]
clasificacion_ventas = ["Buenas ventas" if x >= 5 else "malas ventas"for x in promedio_diario_ventas]

print(ventas_camisetas)
print(ventas_pantalones)
print(ventas_zapatos)
print(total_ventas)
print(promedio_diario_ventas)
print(clasificacion_ventas)

[10, 44, 70]
[46, 49, 60]
[25, 30, 40]
[214, 242, 147]
[30.57, 34.57, 21.0]
['Buenas ventas', 'Buenas ventas', 'Buenas ventas']

---

# Gracias por completar este laboratorio!

---